<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
			<f:facet name="header">
				#{msg['perfil_menu_incluir']}
			</f:facet>
	
			<h:form id="detailForm">
				<p:growl  autoUpdate="true" globalOnly="true" sticky="false"/>	
				<p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">
					
					<h:outputText value="#{msg['perfil_nome']} :" />
					<h:panelGroup>
						<h:message for="perfilnome" styleClass="error"/>
						<h:inputText id="perfilnome" maxlength="50" size="51" label="Nome do perfil"
							value="#{incluirPerfilController.model.nomePerfilConsulta}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
					</h:panelGroup>
					
	
					<h:outputText value="#{msg['perfil_descricao']} :" />
					<h:panelGroup>
						<h:message for="perfildesc" styleClass="error"/>
						<h:inputText id="perfildesc" maxlength="80" size="81" label="Descrição"
							value="#{incluirPerfilController.newPerfilAcesso.descricao}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['perfil_roles']} :" />
					<h:panelGroup>
						<h:message for="newRole" styleClass="error"/>
						<h:selectManyMenu id="newRole" required="true" style="width: 520px; height: 300px;"
							label="Roles"
							value="#{incluirPerfilController.model.roles}"
							var="_role" itemValue="#{_role}">
							<f:selectItems value="#{incluirPerfilController.model.roles}" var="_role" 
							itemValue="#{_role}" itemLabel="#{_role.roledesc}" />
							<f:converter converterId="br.com.vle.util.ObjectConverter" />
						</h:selectManyMenu>
					</h:panelGroup>
					
					<f:facet name="footer">
					
						<p:commandButton value="#{msg['perfil_salva']}"
							action="#{incluirPerfilController.salvar()}"
							title="#{msg['perfil_title_salvar']}"
							update="detailForm">
						</p:commandButton>
			
						<p:commandButton value="#{msg['perfil_voltar']}" immediate="true"
							action="#{navegacao.voltar()}" title="#{msg['perfil_voltar']}">
						</p:commandButton>
						
					</f:facet>
	
	
				</p:panelGrid>
	
			</h:form>
	
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>

</ui:composition>