<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">




	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
			<f:facet name="header">
				#{msg['perfil_menu_alterar']}
			</f:facet>
	
			<h:form id="detailForm">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false"/>	
				
				<p:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">
					
					<h:outputText value="#{msg['perfil_nome']} :" />
					<h:panelGrid>
						<h:message for="perfilnome" styleClass="error"/>
						<h:inputText id="perfilnome" maxlength="50" size="51" readonly="true" label="Nome do perfil"
							value="#{modelPerfil.perfilSelecionado.perfil}" required="true" >
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
					</h:panelGrid>
	
					<h:outputText value="#{msg['perfil_descricao']} :" />
					<h:panelGroup>
						<h:message for="perfildesc" styleClass="error"/>
						<h:inputText id="perfildesc" maxlength="80" size="81" label="Descrição"
							value="#{modelPerfil.perfilSelecionado.descricao}"
							required="true" >
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
					</h:panelGroup>
	
	
					<h:outputText value="#{msg['perfil_roles']} :" />
					<h:panelGroup>
						<h:message for="newRole" styleClass="error"/>
						<h:selectManyMenu id="newRole" required="true" style="width: 520px; height: 300px;"
							label="Roles"
							value="#{modelPerfil.perfilSelecionado.roles}" var="_role"
							itemValue="#{role}">
							<f:selectItems value="#{modelPerfil.perfilSelecionado.roles}" var="_role"
								itemValue="#{_role}" itemLabel="#{_role.roledesc}" />
							<f:converter converterId="br.com.vle.util.ObjectConverter"/>
						</h:selectManyMenu>
					</h:panelGroup>
	
					<f:facet name="footer">
	
						<p:commandButton value="#{msg['perfil_alterar']}"
							action="#{alterarPerfilController.alterar()}"
							title="#{msg['perfil_title_alterar']}">
						</p:commandButton>
	
						<p:commandButton value="#{msg['perfil_voltar']}"
							action="#{navegacao.voltar()}" title="#{msg['perfil_voltar']}">
						</p:commandButton>
	
					</f:facet>
	
				</p:panelGrid>
			</h:form>
			
		</p:panelGrid>
	
	</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>

</ui:composition>