<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	
	<ui:define name="centroMeio">
	
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
			<f:facet name="header">
				#{msg['perfil_menu']}
			</f:facet>
			
			<h:form id="formconsulta">
				<p:growl autoUpdate="true" globalOnly="true" />	
				
				<p:panelGrid columns="2"  cellpadding="4" style="margin:0 auto;">
					
					<h:outputText value="#{msg['perfil_nome']} :"></h:outputText>
					<h:inputText size="50" maxlength="51" value="#{modelPerfil.nomePerfilConsulta}">
					<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/> 
					</h:inputText>
					<f:facet name="footer">
						
						<p:commandButton value="#{msg['perfil_novo']}"
							action="#{perfilController.novoPerfil()}"
							title="#{msg['perfil_title_novo']}">
						</p:commandButton>
					
						<p:commandButton value="#{msg['perfil_consultar']}"
							title="#{msg['perfil_consultar']}"
							update="formResultado" >
						</p:commandButton>
					
					</f:facet>	
					
				</p:panelGrid>
			</h:form>	
			
			<h:form id="formResultado" >
				<p:growl autoUpdate="true" globalOnly="true" />
				
				<p:dataTable id="dataTable" var="perfil"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelPerfil.lazyModel}"
					paginator="true" rows="#{modelPerfil.qtdRows}"
					first="#{modelPerfil.pageSelecionada}"
					selection="#{modelPerfil.selecionados}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}"
					lazy="true" rowsPerPageTemplate="5,10,15,50,100">
	
					<f:facet name="header">
						#{msg['perfil_titulo_lista']}
	                </f:facet>
	                
					<p:column selectionMode="multiple"  style="width:5%" />
					
					<p:column sortBy="#{perfil.id}" width="10%">
						<f:facet name="header">
							<h:outputText value="#{msg['perfil_id']}" />
						</f:facet>
						<h:outputText value="#{perfil.id}" />
					</p:column>
	                
					<p:column sortBy="#{perfil.perfil}" width="35%">
						<f:facet name="header">
							<h:outputText value="#{msg['perfil_nome']}" />
						</f:facet>
						<h:outputText value="#{perfil.perfil}" />
					</p:column>
	
					<p:column sortBy="#{perfil.descricao}" width="60%">
						<f:facet name="header">
							<h:outputText value="#{msg['perfil_descricao']}" />
						</f:facet>
						<h:outputText value="#{perfil.descricao}" />
					</p:column>
	
					<p:column width="10%">
						<f:facet name="header">
							<h:outputText value="#{msg['perfil_acao']}" />
						</f:facet>
						<h:panelGroup>
						
							<p:commandButton 
								icon="ui-icon-pencil"
								rendered="#{request.isUserInRole('manter_perfil_acesso_alterar')}"
								action="#{perfilController.abrirAlterar(perfil)}"
								title=" #{msg['perfil_title_acao_alterar']} " >
							</p:commandButton>
							
							<p:commandButton 
								action="#{perfilController.doDelete(perfil)}"
								rendered="#{request.isUserInRole('manter_perfil_acesso_apagar')}"
								icon="ui-icon-trash" 
								update="dataTable"
								title="#{msg['perfil_title_acao_apagar']}">
							</p:commandButton>
							
						</h:panelGroup>
					</p:column>
					
				</p:dataTable>
				
				<p:panelGrid  id="rodape" columns="1" style="width: 100%">
					<f:facet name="footer">
						<p:commandButton value="#{msg['perfil_apagar_slecionados']}"
							rendered="#{request.isUserInRole('manter_perfil_acesso_apagar')}"
							title="#{msg['perfil_apagar_slecionados']}"
							action="#{perfilController.doDeleteSelecionados()}"
							update="dataTable"
							ajax="true"
							>
						</p:commandButton>
						
					</f:facet>
				</p:panelGrid >
			</h:form>
			
		</p:panelGrid>
		
	</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>

</ui:composition>