<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	
	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
			<f:facet name="header">
				#{msg['pessoa_menu_selecionar']}
			</f:facet>
		
			<h:form id="formconsulta">	
				<p:growl autoUpdate="true" globalOnly="true" />	
				<p:panelGrid columns="2"  cellpadding="4" style="margin:0 auto;">
				
					<h:outputText value="#{msg['usuario_nome']} :" />
					<h:panelGroup>
						<h:message for="itNome" styleClass="error" />
						<h:inputText maxlength="60" size="51" id="itNome"
							label="#{msg['pessoa_nome']}" value="#{modelPessoa.nome}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_cpf_cnpj']} :" />
					<h:panelGroup>
						<h:message for="itcpfCnpj" styleClass="error" />
						<h:inputText maxlength="14" size="21" id="itcpfCnpj"
							value="#{modelPessoa.cpfCnpj}">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['usuario_perfil']} :" />
					<h:panelGroup>
						<h:message for="itperfil" styleClass="error" />
						<h:selectOneMenu id="itperfil" required="true"
							style="width: 160px; height: 30px;" label="Perfil"
							value="#{modelPessoa.perfilUsuario}">
							<f:selectItems value="#{modelPessoa.perfis}" var="_perfil"
								itemValue="#{_perfil}" itemLabel="#{_perfil.perfil}" />
							<f:converter converterId="br.com.vle.util.ObjectConverter" />
						</h:selectOneMenu>
					</h:panelGroup>


					<h:outputText value="#{msg['usuario_status']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error" />
						<h:selectOneMenu id="Status" required="true"
							value="#{modelPessoa.status}" style="width: 160px; height: 30px;">
							<f:selectItems value="#{pessoaController.listaStatus}" var="item"
								itemValue="#{item}" />
						</h:selectOneMenu>
					</h:panelGroup>
				
					<f:facet name="footer">
						
						<!--p:commandButton value="#{msg['perfil_novo']}"
							action="#{perfilController.novoPerfil()}"
							title="#{msg['perfil_title_novo']}">
						</p:commandButton-->
					
						<p:commandButton value="#{msg['pessoa_consultar']}"
							title="#{msg['pessoa_title_consultar']}"
							update=":formResultado">
						</p:commandButton>
					
					</f:facet>	
					
				</p:panelGrid>
			</h:form>	
				
			
			
<h:form id="formResultado">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:dataTable id="dataTable" var="pessoa"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelPessoa.lazyModel}" paginator="true"
					rows="#{modelPessoa.qtdRows}"
					first="#{modelPessoa.pageSelecionada}"
					selection="#{modelPessoa.selecionados}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}" lazy="true"
					rowsPerPageTemplate="5,10,15,50,100" rowIndexVar="x">

					<f:facet name="header">
                   #{msg['pessoa_titulo_lista']}
					</f:facet>

					<p:column selectionMode="multiple" style="width:18px" />

					<p:column sortBy="#{pessoa.nome}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_nome']}" />
						</f:facet>
						<h:outputText value="#{pessoa.nome}" title="#{pessoa.nome}" />
					</p:column>

					<p:column sortBy="#{pessoa.cpfCnpj}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_cpf_cnpj']}" />
						</f:facet>
						<h:outputText value="#{pessoa.cpfCnpj}" />
					</p:column>

					<p:column sortBy="#{pessoa.email}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_email']}" />
						</f:facet>
						<h:outputText value="#{pessoa.email}" />
					</p:column>

					<p:column sortBy="#{pessoa.dtCadastro}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_data_cadastro']}" />
						</f:facet>
						<h:outputText value="#{pessoa.dtCadastro}" pattern="dd/MM/aaaa" />
					</p:column>

					<p:column sortBy="#{pessoa.ativo}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_status']}" />
						</f:facet>
						<h:outputText rendered="#{!pessoa.ativo}" value="#{pessoa.ativo}">
							<f:converter converterId="br.com.vle.util.StatusConverter" />
						</h:outputText>
						<!--h:outputText rendered="#{pessoa.ativo}" value="#{pessoa.ativo}">
							<f:converter converterId="br.com.vle.util.StatusConverter" />
						</h:outputText-->
					</p:column>
	
					<!--p:column width="50ps">
						<f:facet name="header">
							<h:outputText value="#{msg['perfil_acao']}" />
						</f:facet>
						<h:panelGroup>
						
							<p:commandButton 
								icon="ui-icon-pencil"
								rendered="#{request.isUserInRole('manter_perfil_acesso_alterar')}"
								action="#{perfilController.abrirAlterar(perfil)}"
								title=" #{msg['perfil_title_acao_alterar']} " >
							</p:commandButton>
							
							<p:commandButton 
								action="#{perfilController.doDelete(perfil)}"
								rendered="#{request.isUserInRole('manter_perfil_acesso_apagar')}"
								icon="ui-icon-trash" 
								update="dataTable"
								title="#{msg['perfil_title_acao_apagar']}">
							</p:commandButton>
							
						</h:panelGroup>
					</p:column-->
					
					<f:facet name="footer">
						<p:commandButton value="#{msg['pessoa_selecionar']}"
							action="#{incluirContratosController.selecionarPessoa()}"
							title="#{msg['pessoa_selecionar']}">
							<f:ajax execute=":formResultado" render="dataTable"/>
						</p:commandButton>
	                </f:facet>
					
				</p:dataTable>
			</h:form>
		
		</p:panelGrid>
	
	</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>
	
</ui:composition>