<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">




<ui:define name="centroMeio">
	<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
		<f:facet name="header">
			#{msg['usuario_menu_alterar']}
		</f:facet>
			
		<h:form id="detailForm">
			<p:growl  autoUpdate="true" globalOnly="true" sticky="false"/>	
			<p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">
				<h:outputText value="#{msg['pessoa_nome']} :" />
				
				<h:panelGroup>
						<h:message for="itNome" styleClass="error"/>
						<h:inputText maxlength="60" size="51"
							id="itNome"
							label="#{msg['pessoa_nome']}"
							value="#{modelPessoa.pessoaSelecionado.nome}"
							readonly="true"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_email']} :" />
				<h:panelGroup>
						<h:message for="itEmail" styleClass="error"/>
						<h:inputText maxlength="60" size="51" rendered="true"
							id="itEmail"
							label="#{msg['pessoa_email']}"
							value="#{modelPessoa.pessoaSelecionado.email}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>

				<h:outputText value="#{msg['pessoa_cpf_cnpj']}:" />
				<h:panelGroup>
						<h:message for="itCpf_cnpj" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itCpf_cnpj"
							label="#{msg['pessoa_cpf_cnpj']}"
							value="#{modelPessoa.pessoaSelecionado.cpfCnpj}"
							readonly="true"
							required="true">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_rg']} :" />
				<h:panelGroup>
						<h:message for="itRg" styleClass="error"/>
						<h:inputText maxlength="20" size="21" rendered="true"
							id="itRg"
							label="#{msg['pessoa_rg']}"
							value="#{modelPessoa.pessoaSelecionado.rg}"
							readonly="true"
							required="true">
						</h:inputText>
				</h:panelGroup>

				<h:outputText value="#{msg['pessoa_ie']} :" />
				<h:panelGroup>
						<h:message for="itIe" styleClass="error"/>
						<h:inputText maxlength="20" size="21" rendered="true"
							id="itIe"
							label="#{msg['pessoa_ie']}"
							value="#{modelPessoa.pessoaSelecionado.ie}"
							readonly="true"
							required="false">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['usuario_perfil']} :" />
					<h:panelGroup>
						<h:message for="itperfil" styleClass="error" />
						<h:selectOneMenu id="itperfil" required="true"
							style="width: 160px; height: 30px;" label="Perfil"
							value="#{modelPessoa.perfilUsuario}">
							<f:selectItems value="#{modelPessoa.perfis}" var="_perfil"
								itemValue="#{_perfil}" itemLabel="#{_perfil.perfil}" />
							<f:converter converterId="br.com.vle.util.ObjectConverter" />
						</h:selectOneMenu>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_ssp']} :" />
				<h:panelGroup>
					<h:message for="newestado" styleClass="error" />
					<h:selectOneMenu id="newestado" readonly="true" required="true"
						style="width: 160px; height: 30px;" label="Perfil"
						value="#{modelPessoa.estado}" var="_estados"
						itemValue="#{_estados}">
						<f:selectItems value="#{modelPessoa.estados}"
							var="_estados" itemValue="#{_estados}"
							itemLabel="#{_estados.uf}"/>
						
					</h:selectOneMenu>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_telefoneprin']} :" />
				<h:panelGroup>
						<h:message for="itTelPrin" styleClass="error"/>
						<h:inputText 
							id="itTelPrin"
							maxlength="20" size="21"
							label="#{msg['pessoa_telefoneprin']}"
							value="#{modelPessoa.pessoaSelecionado.telPrin}"
							required="true">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_telefonesec']} :" />
				<h:panelGroup>
						<h:message for="itTelSec" styleClass="error"/>
						<h:inputText 
							id="itTelSec"
							maxlength="20" size="21"
							label="#{msg['pessoa_telefonesec']}"
							value="#{modelPessoa.pessoaSelecionado.telSec}">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_cep']} :" />
				<h:panelGroup>
						<h:message for="itCep" styleClass="error"/>
						<h:inputText 
							id="itCep"
							maxlength="8" size="21"
							label="#{msg['pessoa_cep']}"
							value="#{modelPessoa.pessoaSelecionado.cep}"
							required="true">
						</h:inputText>
						<p:commandButton  icon="ui-icon-search" immediate="true"
							action="#{alterarPessoaController.buscarEndereco()}"
							title="#{msg['pessoa_acao_buscar_endereco']}">
						</p:commandButton>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_logradouro']} :" />
				<h:panelGroup>
						<h:message for="itLogradouro" styleClass="error"/>
						<h:inputText 
							id="itLogradouro"
							maxlength="50" size="51"
							label="#{msg['pessoa_logradouro']}"
							value="#{modelPessoa.pessoaSelecionado.logradouro}"
							readonly="true"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_complemento']} :" />
				<h:panelGroup>
						<h:message for="itComplemento" styleClass="error"/>
						<h:inputText 
							id="itComplemento"
							maxlength="50" size="51"
							label="#{msg['pessoa_complemento']}"
							value="#{modelPessoa.pessoaSelecionado.complemento}"
							required="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_numero']} :" />
				<h:panelGroup>
						<h:message for="itNumero" styleClass="error"/>
						<h:inputText 
							id="itNumero"
							maxlength="10" size="21"
							label="#{msg['pessoa_numero']}"
							value="#{modelPessoa.pessoaSelecionado.numero}"
							required="true">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_bairro']} :" />
				<h:panelGroup>
						<h:message for="itBairro" styleClass="error"/>
						<h:inputText 
							id="itBairro"
							maxlength="20" size="21"
							label="#{msg['pessoa_bairro']}"
							value="#{modelPessoa.pessoaSelecionado.bairro}"
							required="true"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_localidade']} :" />
				<h:panelGroup>
						<h:message for="itLocalidade" styleClass="error"/>
						<h:inputText 
							id="itLocalidade"
							maxlength="20" size="21"
							label="#{msg['pessoa_localidade']}"
							value="#{modelPessoa.pessoaSelecionado.localidade}"
							required="true"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_uf']} :" />
				<h:panelGroup>
						<h:message for="itUf" styleClass="error"/>
						<h:inputText 
							id="itUf"
							maxlength="2" size="21"
							label="#{msg['pessoa_uf']}"
							value="#{modelPessoa.pessoaSelecionado.uf}"
							required="true"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_referencia_nome']} :" />
				<h:panelGroup>
						<h:message for="itRefNome" styleClass="error"/>
						<h:inputText 
							id="itRefNome"
							maxlength="50" size="51"
							label="#{msg['pessoa_referencia_nome']}"
							value="#{modelPessoa.pessoaSelecionado.refNome}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_referencia_telefone']} :" />
				<h:panelGroup>
						<h:message for="itRefTel1" styleClass="error"/>
						<h:inputText 
							id="itRefTel"
							maxlength="11" size="21"
							label="#{msg['pessoa_referencia_telefone']}"
							value="#{modelPessoa.pessoaSelecionado.refTel}"
							required="true">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_referencia_nome']} :" />
				<h:panelGroup>
						<h:message for="itRefNome1" styleClass="error"/>
						<h:inputText 
							id="itRefNome1"
							maxlength="50" size="51"
							label="#{msg['pessoa_referencia_nome']}"
							value="#{modelPessoa.pessoaSelecionado.refNome1}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_referencia_telefone']} :" />
				<h:panelGroup>
						<h:message for="itRefTel1" styleClass="error"/>
						<h:inputText 
							id="itRefTel1"
							maxlength="11" size="21"
							label="#{msg['pessoa_referencia_telefone']}"
							value="#{modelPessoa.pessoaSelecionado.refTel1}"
							required="true">
						</h:inputText>
				</h:panelGroup>
				
				<f:facet name="footer">
					<p:commandButton value="#{msg['pessoa_acao_alterar']}"
						action="#{alterarPessoaController.alterar()}"
						update="detailForm"
						title="#{msg['pessoa_acao_alterar_title']}">
					</p:commandButton>

					<p:commandButton value="#{msg['voltar']}" immediate="true"
						action="#{alterarPessoaController.voltar(true)}" title="#{msg['voltar_title']}">
					</p:commandButton>

				</f:facet>

			</p:panelGrid>

		</h:form>
		
	</p:panelGrid>
</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>
	
</ui:composition>