<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['pessoa_menu_incluir']}
		</f:facet>

			<h:form id="detailForm">
				
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">
					<h:outputText value="#{msg['pessoa_nome']} :" />
					<h:panelGroup>
						<h:message for="itNome" styleClass="error" />
						<h:inputText maxlength="60" size="51" id="itNome"
							label="#{msg['pessoa_nome']}" value="#{modelPessoa.nome}"
							required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_email']} :" />
					<h:panelGroup>
						<h:message for="itEmail" styleClass="error" />
						<h:inputText maxlength="60" size="51" required="true" id="itEmail"
							label="#{msg['pessoa_email']}"
							value="#{modelPessoa.email}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_cpf_cnpj']}:" />
					<h:panelGroup>
						<h:message for="itCpf_cnpj" styleClass="error" />
						<h:inputText maxlength="14" size="21" id="itCpf_cnpj"
							label="#{msg['pessoa_cpf_cnpj']}"
							value="#{modelPessoa.cpfCnpj}" required="true"
							readonly="false">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_rg']} :" />
					<h:panelGroup>
						<h:message for="itRg" styleClass="error" />
						<h:inputText maxlength="20" size="21" rendered="true" id="itRg"
							label="#{msg['pessoa_rg']}" value="#{modelPessoa.rg}"
							required="false">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_ie']} :" />
					<h:panelGroup>
						<h:message for="itIe" styleClass="error" />
						<h:inputText maxlength="20" size="21" rendered="true" id="itIe"
							label="#{msg['pessoa_ie']}" value="#{modelPessoa.ie}">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_ssp']} :" />
					<h:panelGroup>
						<h:message for="newestado" styleClass="error" />
						<h:selectOneMenu id="newestado" required="true"
							style="width: 160px; height: 30px;" label="Perfil"
							value="#{modelPessoa.estado}" var="_estados"
							itemValue="#{_estados}">
							<f:selectItems value="#{modelPessoa.estados}" var="_estados"
								itemValue="#{_estados}" itemLabel="#{_estados.uf}" />

						</h:selectOneMenu>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_dt_nascimento']} :" />
					<h:panelGroup>
						<h:message for="itdtNascimento" styleClass="error" />
						<h:inputText maxlength="20" size="21" required="true"
							id="itdtNascimento" label="#{msg['pessoa_dt_nascimento']}"
							value="#{modelPessoa.dtNascimento}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_telefoneprin']} :" />
					<h:panelGroup>
						<h:message for="itTelPrin" styleClass="error" />
						<h:inputText id="itTelPrin" maxlength="20" size="21"
							label="#{msg['pessoa_telefoneprin']}"
							value="#{modelPessoa.telPrin}" required="true">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_telefonesec']} :" />
					<h:panelGroup>
						<h:message for="itTelSec" styleClass="error" />
						<h:inputText id="itTelSec" maxlength="20" size="21"
							label="#{msg['pessoa_telefonesec']}"
							value="#{modelPessoa.telSec}">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_cep']} :" />
					<h:panelGroup>
						<h:message for="itCep" styleClass="error" />
						<h:inputText id="itCep" maxlength="8" size="21"
							label="#{msg['pessoa_cep']}" value="#{modelPessoa.cep}"
							required="true">
						</h:inputText>
						<p:commandButton icon="ui-icon-search" update="detailForm"
							action="#{incluirPessoaController.buscarEndereco()}"
							title="#{msg['pessoa_acao_buscar_endereco']}">
						</p:commandButton>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_logradouro']} :" />
					<h:panelGroup>
						<h:message for="itLogradouro" styleClass="error" />
						<h:inputText id="itLogradouro" maxlength="50" size="51"
							label="#{msg['pessoa_logradouro']}"
							value="#{modelPessoa.logradouro}" required="false"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_complemento']} :" />
					<h:panelGroup>
						<h:message for="itComplemento" styleClass="error" />
						<h:inputText id="itComplemento" maxlength="50" size="51"
							label="#{msg['pessoa_complemento']}"
							value="#{modelPessoa.complemento}" required="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_numero']} :" />
					<h:panelGroup>
						<h:message for="itNumero" styleClass="error" />
						<h:inputText id="itNumero" maxlength="10" size="21"
							label="#{msg['pessoa_numero']}"
							value="#{modelPessoa.numero}" required="false">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_bairro']} :" />
					<h:panelGroup>
						<h:message for="itBairro" styleClass="error" />
						<h:inputText id="itBairro" maxlength="20" size="21"
							label="#{msg['pessoa_bairro']}"
							value="#{modelPessoa.bairro}" required="flase"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_localidade']} :" />
					<h:panelGroup>
						<h:message for="itLocalidade" styleClass="error" />
						<h:inputText id="itLocalidade" maxlength="20" size="21"
							label="#{msg['pessoa_localidade']}"
							value="#{modelPessoa.localidade}" required="false"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_uf']} :" />
					<h:panelGroup>
						<h:message for="itUf" styleClass="error" />
						<h:inputText id="itUf" maxlength="2" size="21"
							label="#{msg['pessoa_uf']}" value="#{modelPessoa.uf}"
							required="false" readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_referencia_nome']} :" />
					<h:panelGroup>
						<h:message for="itRefNome" styleClass="error" />
						<h:inputText id="itRefNome" maxlength="50" size="51"
							label="#{msg['pessoa_referencia_nome']}"
							value="#{modelPessoa.refNome}" required="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_referencia_telefone']} :" />
					<h:panelGroup>
						<h:message for="itRefTel1" styleClass="error" />
						<h:inputText id="itRefTel" maxlength="11" size="21"
							label="#{msg['pessoa_referencia_telefone']}"
							value="#{modelPessoa.refTel}" required="false">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_referencia_nome']} :" />
					<h:panelGroup>
						<h:message for="itRefNome1" styleClass="error" />
						<h:inputText id="itRefNome1" maxlength="50" size="51"
							label="#{msg['pessoa_referencia_nome']}"
							value="#{modelPessoa.refNome1}" required="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['pessoa_referencia_telefone']} :" />
					<h:panelGroup>
						<h:message for="itRefTel1" styleClass="error" />
						<h:inputText id="itRefTel1" maxlength="11" size="21"
							label="#{msg['pessoa_referencia_telefone']}"
							value="#{modelPessoa.refTel1}" required="false">
						</h:inputText>
					</h:panelGroup>
					
				<h:outputText value="#{msg['usuario_perfil']} :" />
				<h:panelGroup>
					<h:message for="itperfil" styleClass="error" />
					<h:selectOneMenu id="itperfil" required="true"
						style="width: 160px; height: 30px;" label="Perfil"
						value="#{modelPessoa.perfilUsuario}">
						<f:selectItems value="#{modelPessoa.perfis}" var="_perfil"
							itemValue="#{_perfil}" itemLabel="#{_perfil.perfil}" />
						<f:converter converterId="br.com.vle.util.ObjectConverter" />
					</h:selectOneMenu>
				</h:panelGroup>

					<f:facet name="footer">

						<p:commandButton value="#{msg['pessoa_acao_salvar']}"
							action="#{incluirPessoaController.salvar()}" update="detailForm"
							title="#{msg['pessoa_acao_salvar_title']}">
						</p:commandButton>

						<p:commandButton value="#{msg['voltar']}" immediate="true"
							action="#{incluirPessoaController.voltar(true)}"
							title="#{msg['voltar_title']}">
						</p:commandButton>

					</f:facet>


				</p:panelGrid>

			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />

</ui:composition>