<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:define name="centroMeio">
	<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
		<f:facet name="header">
			#{msg['usuario_menu_alterar_senha']}
		</f:facet>

		<h:form id="detailForm">
			<p:growl  autoUpdate="true" globalOnly="true" sticky="false"/>	
			<p:panelGrid id="display" columns="2" cellpadding="4"
				style="margin:0 auto;">
				
				<h:outputText value="#{msg['usuario_nome']} :" />
				<h:panelGroup>
				<h:message for="itNome" styleClass="error" />
				<h:inputText maxlength="60" size="40" 
					for="itNome" label="#{msg['usuario_login']}"
					value="#{alterarSenhaController.model.pessoa.nome}"
					readonly="true">
				</h:inputText>
				</h:panelGroup>			 
				
				<h:outputText value="#{msg['usuario_login']} :" />
				<h:panelGroup>
				<h:message for="itlog" styleClass="error" />
				<h:inputText maxlength="20" size="21" 
					for="itlog" label="#{msg['usuario_login']}"
					value="#{alterarSenhaController.model.usuarioSelecionado.id}"
					readonly="true">
				</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['usuario_senha']} :" />
				<h:panelGroup>
					<h:message for="itsenhaatual" styleClass="error"/>
					<h:inputSecret id="itsenhaatual"
						maxlength="20" size="21" label="#{msg['usuario_senha_atual']}"
						value="#{alterarSenhaController.senhaAtual}"
						required="true">
						<f:converter converterId="br.com.vle.util.SHAConverter"/>
					</h:inputSecret>
				</h:panelGroup>
				
				<h:outputText value="#{msg['usuario_senha_nova']} :" />
				<h:panelGroup>
					<h:message for="itsenhanova" styleClass="error"/>
					<h:inputSecret id="itsenhanova"
						maxlength="20" size="21" label="#{msg['usuario_senha_nova']}"
						value="#{alterarSenhaController.senhaNova}"
						required="true">
						<f:converter converterId="br.com.vle.util.SHAConverter"/>
					</h:inputSecret>
				</h:panelGroup>
				
				<h:outputText value="#{msg['usuario_senha_confirm']} :" />
				<h:panelGroup>
					<h:message for="itsenhacinfirm" styleClass="error"/>
					<h:inputSecret id="itsenhaconfirm"
						maxlength="20" size="21" label="#{msg['usuario_senha_confirm']}"
						value="#{alterarSenhaController.senhaConfirm}"
						required="true">
						<f:converter converterId="br.com.vle.util.SHAConverter"/>
					</h:inputSecret>
				</h:panelGroup>

				<f:facet name="footer">

					<p:commandButton value="#{msg['usuario_acao_alterar']}"
						action="#{alterarSenhaController.alterarSenha()}"
						update="detailForm"
						title="#{msg['usuario_acao_alterar_title']}">
					</p:commandButton>

					<p:commandButton value="#{msg['voltar']}" immediate="true"
						action="#{alterarSenhaController.cancelarAlterarSenha()}" title="#{msg['voltar_title']}">
					</p:commandButton>

				</f:facet>

			</p:panelGrid>

		</h:form>
	</p:panelGrid>
</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>

</ui:composition>