<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['usuario_menu']}
		</f:facet>

			<h:form id="formconsulta">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid columns="2" cellpadding="4" style="margin:0 auto;">

				<h:outputText value="#{msg['usuario_nome']} :" />
				<h:panelGroup>
						<h:message for="itNome" styleClass="error"/>
						<h:inputText maxlength="60" size="51"
							id="itNome"
							label="#{msg['usuario_nome']}"
							value="#{modelUsuario.nome}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>

					<h:outputText value="#{msg['pessoa_cpf_cnpj']} :" />
					<h:panelGroup>
						<h:message for="itcpfCnpj" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itcpfCnpj" 
							value="#{modelUsuario.cpfCnpj}">
							</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['usuario_perfil']} :" />
						<h:panelGroup>
							<h:message for="itperfil" styleClass="error"/>
							<h:selectOneMenu id="itperfil" required="true"
								style="width: 160px; height: 30px;" label="Perfil"
								value="#{modelUsuario.perfilUsuario}"> 
								<f:selectItem itemLabel="SELECIONE" noSelectionOption="true" />
								<f:selectItems value="#{modelUsuario.perfis}" var="_perfil" itemValue="#{_perfil}" itemLabel="#{_perfil.perfil}"/>
								<f:converter converterId="br.com.vle.util.ObjectConverter" />
							</h:selectOneMenu>
						</h:panelGroup>


					<h:outputText value="#{msg['usuario_status']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error"/>
							<h:selectOneMenu id="Status" required="true"
								value="#{modelUsuario.status}"
								style="width: 160px; height: 30px;">
							<f:selectItems value="#{usuarioController.listaStatus}" var="item" itemValue="#{item}"/>
					</h:selectOneMenu>
					</h:panelGroup>
					
					<f:facet name="footer">

						<p:commandButton value="#{msg['usuario_novo']}"
							rendered="#{request.isUserInRole('manter_usuario_incluir')}"
							action="#{usuarioController.criarUsuario()}"
							title="#{msg['usuario_novo_title']}">
						</p:commandButton>

						<p:commandButton value="#{msg['usuario_consultar']}"
							title="#{msg['usuario_consultar']}" update=":formResultado">
						</p:commandButton>

						<p:commandButton value="#{msg['usuario_limpar']}"
							title="#{msg['usuario_limpar']}"
							actionListener="#{usuarioController.doLimpaConsulta}" />

					</f:facet>

				</p:panelGrid>
			</h:form>

			<h:form id="formResultado">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:dataTable id="dataTable" var="usuario"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelUsuario.lazyModel}" paginator="true"
					rows="#{modelUsuario.qtdRows}"
					first="#{modelUsuario.pageSelecionada}"
					selection="#{modelUsuario.selecionados}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}" lazy="true"
					rowsPerPageTemplate="5,10,15,50,100" rowIndexVar="x">

					<f:facet name="header">
                   #{msg['usuario_titulo_lista']}
					</f:facet>

					<p:column selectionMode="multiple" style="width:18px" />

					<p:column sortBy="#{modelUsuario.nome}">
						<f:facet name="header">
							<h:outputText value="#{msg['usuario_nome']}" />
						</f:facet>
						<h:outputText value="#{modelUsuario.nome}"
							title="#{modelUsuario.nome}" />
					</p:column>

					<p:column sortBy="#{usuario.id}">
						<f:facet name="header">
							<h:outputText value="#{msg['usuario_login']}" />
						</f:facet>
						<h:outputText value="#{usuario.id}"/>
					</p:column>

					<p:column sortBy="#{pessoa.email}">
						<f:facet name="header">
							<h:outputText value="#{msg['pessoa_email']}" />
						</f:facet>
						<h:outputText value="#{modelUsuario.email}" />
					</p:column>

					<p:column sortBy="#{usuario.perfilAcesso.perfil}">
						<f:facet name="header">
							<h:outputText value="#{msg['usuario_perfil']}" />
						</f:facet>

						<h:outputText value="#{usuario.perfilAcesso.perfil}"
							title="#{usuario.perfilAcesso.perfil}" />
					</p:column>

					<!--p:column sortBy="#{modelUsuario.pessoa.dtCadastro}">
					<f:facet name="header">
						<h:outputText value="#{msg['usuario_data_cadastro']}" />
					</f:facet>
					<h:outputText value="#{modelUsuario.pessoa.dtCadastro}"  />
				</p:column-->

					<p:column sortBy="#{usuario.ativo}">
						<f:facet name="header">
							<h:outputText value="#{msg['usuario_status']}" />
						</f:facet>
						<h:outputText rendered="#{!usuario.ativo}"
							value="#{usuario.ativo}">
							<f:converter converterId="br.com.vle.util.StatusConverter" />
						</h:outputText>
						<h:outputText rendered="#{usuario.ativo}" value="#{usuario.ativo}">
							<f:converter converterId="br.com.vle.util.StatusConverter" />
						</h:outputText>
					</p:column>

					<p:column width="50ps">
						<f:facet name="header">
							<h:outputText value="#{msg['usuario_acao']}" />
						</f:facet>
						<h:panelGroup>

							<p:commandButton icon="ui-icon-pencil"
								rendered="#{request.isUserInRole('manter_usuario_alterar')}"
								action="#{usuarioController.abrirAlterar(usuario)}"
								update=":formResultado" title="#{msg['usuario_acao_alterar']}">
							</p:commandButton>

							<p:commandButton action="#{usuarioController.doDelete(usuario)}"
								rendered="#{request.isUserInRole('manter_usuario_bloquear')}"
								icon="ui-icon-locked" update="dataTable"
								title="#{msg['usuario_acao_inativar']}">
							</p:commandButton>

							<p:commandButton
								action="#{usuarioController.doUnDelete(usuario)}"
								rendered="#{request.isUserInRole('manter_usuario_desbloquear')}"
								icon="ui-icon-unlocked" update="dataTable"
								title="#{msg['usuario_acao_ativar']}">
							</p:commandButton>

						</h:panelGroup>
					</p:column>

				</p:dataTable>
				<p:panelGrid columns="2" style="width: 100%">
					<f:facet name="footer">
						<p:growl />
						<p:commandButton value="#{msg['usuario_acao_inativar_lote']}"
							rendered="#{request.isUserInRole('manter_usuario_bloquear')}"
							title="#{msg['usuario_acao_inativar_lote_title']}">
							<f:ajax execute=":formResultado" render=":formResultado"
								listener="#{usuarioController.doDeleteSelecionados}" />
						</p:commandButton>

						<p:commandButton value="#{msg['usuario_acao_ativar_lote']}"
							rendered="#{request.isUserInRole('manter_usuario_desbloquear')}"
							title="#{msg['usuario_acao_ativar_lote_title']}">
							<f:ajax execute=":formResultado" render=":formResultado"
								listener="#{usuarioController.doAtivarSelecionados}" />
						</p:commandButton>
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>