<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['financeiro_menu']}
		</f:facet>

			<h:form id="formconsulta">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid columns="2" cellpadding="4" style="margin:0 auto;">

				<h:outputText value="#{msg['contratos_id']} :" />
				<h:panelGroup>
						<h:message for="itId" styleClass="error"/>
						<h:inputText maxlength="60" size="51"
							id="itId"
							label="#{msg['contratos_id']}"
							value="#{modelFinanceiro.idContrato}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>

					<h:outputText value="#{msg['contratos_id_pessoa']} :" />
					<h:panelGroup>
						<h:message for="itcpfCnpj" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itcpfCnpj" 
							value="#{modelFinanceiro.idPessoa}">
							</h:inputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['contratos_id_imovel']} :" />
					<h:panelGroup>
						<h:message for="itimovel" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itimovel" 
							value="#{modelFinanceiro.idImovel}">
							</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['financeiro_situacao']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error"/>
							<h:selectOneMenu id="itStatus" required="false"
								value="#{modelFinanceiro.statusFinanceiro}"
								style="width: 167px; height: 30px;">
							<f:selectItems value="#{modelFinanceiro.listStatusFinanceiro}" var="item" itemValue="#{item}"/>
					</h:selectOneMenu>
					</h:panelGroup>
					
					
					<f:facet name="footer">

						<p:commandButton value="#{msg['contratos_consultar']}"
							title="#{msg['financeiro_consultar']}" update=":formResultado">
						</p:commandButton>

						<p:commandButton value="#{msg['contratos_limpar']}"
							title="#{msg['financeiro_limpar']}"
							actionListener="#{financeiroController.limpar()}" />

					</f:facet>

				</p:panelGrid>
			</h:form>

			<h:form id="formResultado">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:dataTable id="dataTable" var="financeiro"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelFinanceiro.lazyModel}" paginator="true"
					rows="#{modelFinanceiro.qtdRows}"
					first="#{modelFinanceiro.pageSelecionada}"
					selection="#{modelFinanceiro.selecionados}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}" lazy="true"
					rowsPerPageTemplate="5,10,15,50,100" rowIndexVar="x">

					<f:facet name="header">
                   #{msg['financeiro_titulo_lista']}
					</f:facet>

					<p:column selectionMode="multiple" style="width:18px" />

					<p:column sortBy="#{financeiro.id}">
						<f:facet name="header">
							<h:outputText value="#{msg['financeiro_id']}" />
						</f:facet>
						<h:outputText value="#{financeiro.id}"
							title="#{financeiro.id}" />
					</p:column>

					<p:column sortBy="#{financeiro.pessoa.nome}">
						<f:facet name="header">
							<h:outputText value="#{msg['financeiro_nome_pessoa']}" />
						</f:facet>
						<h:outputText value="#{financeiro.pessoa.nome}"/>
					</p:column>

					<p:column sortBy="#{financeiro.mes}">
						<f:facet name="header">
							<h:outputText value="#{msg['financeiro_vencimento']}" />
						</f:facet>
						<h:outputText value="#{financeiro.diaVencimento} - #{financeiro.mes}" />
					</p:column>
					
					<p:column sortBy="#{financeiro.status}">
						<f:facet name="header">
							<h:outputText value="#{msg['financeiro_status']}" />
						</f:facet>
						<h:outputText value="#{financeiro.status}"/>
					</p:column>

					<p:column width="50ps">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_acao']}" />
						</f:facet>
						<h:panelGroup>

							<p:commandButton icon="ui-icon-calculator"
								rendered="#{request.isUserInRole('financeiro')}"
								action="#{financeiroController.lancamentos(financeiro)}"
								update=":formResultado" title="#{msg['financeiro_acao_lancamento']}">
							</p:commandButton>

						</h:panelGroup>
					</p:column>

				</p:dataTable>
				<p:panelGrid columns="2" style="width: 100%">
					<f:facet name="footer">
						<p:growl />
						<p:commandButton value="#{msg['financeiro_acao_gerar_relatorio']}"
							rendered="#{request.isUserInRole('financeiro')}"
							title="#{msg['financeiro_acao_gerar_relatorio']}"
							action="#{financeiroController.gerarRelatorioSelecionados()}"
							update=":formResultado" icon="ui-icon-print">
						</p:commandButton>
							<p:commandButton value="#{msg['financeiro_acao_gerar_relatorio']}"
							rendered="#{request.isUserInRole('financeiro')}"
							title="#{msg['financeiro_acao_gerar_relatorio']}"
							action="#{financeiroController.gerarRelatorioTodos()}"
							icon="ui-icon-print">
						</p:commandButton>

					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>