<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:define name="centroMeio">
	<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
		<f:facet name="header">
			#{msg['financeiro_lancamentos']}
		</f:facet>
		
		<h:form id="detailForm">
			<p:growl  autoUpdate="true" globalOnly="true" sticky="false"/>	
			<p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">
			
					<h:outputText value="#{msg['financeiro_nome_pessoa']} :" />
					<h:panelGroup>
						<h:message for="itnome" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itnome" 
							value="#{modelFinanceiro.selecionado.pessoa.nome}">
						</h:outputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['financeiro_vencimento']} :" />
					<h:panelGroup>
						<h:message for="itvenc" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itvenc" 
							value="#{modelFinanceiro.selecionado.diaVencimento} - #{modelFinanceiro.selecionado.mes}">
						</h:outputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['financeiro_val_men']} :" />
					<h:panelGroup>
						<h:message for="itVlMen" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itVlMen" 
							value="#{modelFinanceiro.vlr}">
						</h:outputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['financeiro_val_multa']} :" />
					<h:panelGroup>
						<h:message for="itTxMulta" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itTxMulta" 
							value="#{modelFinanceiro.valorMulta}">
						</h:outputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['financeiro_desconto']} :" />
					<h:panelGroup>
						<h:message for="itDesc" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itDesc" 
							value="#{modelFinanceiro.desconto}">
						</h:outputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['financeiro_valor_a_receber']} :" />
					<h:panelGroup>
						<h:message for="itVrr" styleClass="error"/>
						<h:outputText maxlength="14" size="21"
							id="itVrr" 
							value="#{modelFinanceiro.valorReceber}">
						</h:outputText>
					</h:panelGroup>
			
					<h:outputText value="#{msg['financeiro_valor_recebido']} :" />
					<h:panelGroup>
						<h:message for="itVre" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itVre" 
							value="#{modelFinanceiro.valorRecebido}">
						</h:inputText>
					</h:panelGroup>
				
				<f:facet name="footer">
				
					<p:commandButton value="#{msg['financeiro_acao_salvar']}"
						action="#{lancamentosFinanceiroController.salvar()}"
						update="detailForm"
						title="#{msg['financeiro_acao_salvar']}">
					</p:commandButton>
		
					<p:commandButton value="#{msg['voltar']}" immediate="true"
						action="#{lancamentosFinanceiroController.voltar()}" title="#{msg['voltar_title']}">
					</p:commandButton>
					
				</f:facet>


			</p:panelGrid>

		</h:form>
	</p:panelGrid>	
</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>
	
</ui:composition>