<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:auto;width:100%;">

			<f:facet name="header">
			#{msg['configuracao_page']}
		</f:facet>

			<h:form id="formconfig" style="margin:2%">
			
			<div align="center">
				<h:panelGrid columns="1" >
					<h:panelGrid columns="4">
						<h:outputText value="Language :"/>
						<h:selectOneMenu value="#{configController.locale}"
							onchange="submit()"
							valueChangeListener="#{configController.localeChanged}">
							<f:selectItems value="#{configController.countries}" />
						</h:selectOneMenu>

						<h:outputText value="Themas :" />
						<h:selectOneMenu value="#{configController.theme}"
							onchange="submit()"
							valueChangeListener="#{configController.themeChanged}">
							<f:selectItems value="#{configController.themes}" />
						</h:selectOneMenu>
					</h:panelGrid>

				</h:panelGrid>

			</div>
			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>