<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['imoveis_menu_detalhar']}
		</f:facet>


			<h:form id="detailForm">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">
					
					<h:outputText value="#{msg['imoveis_id']} :" />
					<h:panelGroup>
						<h:message for="itId" styleClass="error" />
						<h:inputText id="itId" maxlength="8" size="21" 
							label="#{msg['imoveis_id']}"
							value="#{modelImoveis.imovelSelecionado.id}"
							readonly="true">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_tipo']} :" />
					<h:panelGroup>
						<h:message for="itTpImovel" styleClass="error"  />
						<h:selectOneMenu id="itTpImovel" required="true" 
						style="width: 160px; height: 30px;"
							value="#{modelImoveis.tpImovel}">
							<f:selectItems value="#{modelImoveis.listatpImoveis}" var="_item"
								itemValue="#{_item}" itemLabel="#{_item.tipo}" />
						</h:selectOneMenu>
					</h:panelGroup>


					<h:outputText value="#{msg['imoveis_status']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error" />
						<h:selectOneMenu id="itStatus" required="true"
						style="width: 160px; height: 30px;"
							value="#{modelImoveis.statusImovel}">
							<f:selectItems value="#{modelImoveis.listaStatusImoveis}"
								var="_item" itemValue="#{_item}" itemLabel="#{_item.status}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_descricao']} :" />
					<h:panelGroup>
						<h:message for="itDesc" styleClass="error" />
						<h:inputText style="width: 160px; height: 30px;" maxlength="2000"
							id="itDesc" label="#{msg['imoveis_descricao']}"
							value="#{modelImoveis.imovelSelecionado.dsImovel}" required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_observacoes']} :" />
					<h:panelGroup>
						<h:message for="itObs" styleClass="error" />
						<h:inputText style="width: 160px; height: 30px;" maxlength="2000"
							required="true" id="itObs" label="#{msg['imoveis_observacoes']}"
							value="#{modelImoveis.imovelSelecionado.dsObservacoes}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_cep']} :" />
					<h:panelGroup>
						<h:message for="itCep" styleClass="error" />
						<h:inputText id="itCep" maxlength="8" size="21"
							label="#{msg['imoveis_cep']}" value="#{modelImoveis.imovelSelecionado.cep}"
							required="true">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_logradouro']} :" />
					<h:panelGroup>
						<h:message for="itLogradouro" styleClass="error" />
						<h:inputText id="itLogradouro" maxlength="50" size="51"
							label="#{msg['imoveis_logradouro']}"
							value="#{modelImoveis.imovelSelecionado.logradouro}" required="true"
							readonly="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_complemento']} :" />
					<h:panelGroup>
						<h:message for="itComplemento" styleClass="error" />
						<h:inputText id="itComplemento" maxlength="50" size="51"
							label="#{msg['imoveis_complemento']}"
							value="#{modelImoveis.imovelSelecionado.complemento}" required="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_numero']} :" />
					<h:panelGroup>
						<h:message for="itNumero" styleClass="error" />
						<h:inputText id="itNumero" maxlength="10" size="21"
							label="#{msg['imoveis_numero']}"
							value="#{modelImoveis.imovelSelecionado.numero}" required="true">
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_bairro']} :" />
					<h:panelGroup>
						<h:message for="itBairro" styleClass="error" />
						<h:inputText id="itBairro" maxlength="20" size="21"
							label="#{msg['imoveis_bairro']}"
							value="#{modelImoveis.imovelSelecionado.bairro}" required="true"
							readonly="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_localidade']} :" />
					<h:panelGroup>
						<h:message for="itLocalidade" styleClass="error" />
						<h:inputText id="itLocalidade" maxlength="20" size="21"
							label="#{msg['imoveis_localidade']}"
							value="#{modelImoveis.imovelSelecionado.localidade}" required="true"
							readonly="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_uf']} :" />
					<h:panelGroup>
						<h:message for="itUf" styleClass="error" />
						<h:inputText id="itUf" maxlength="2" size="21"
							label="#{msg['imoveis_uf']}" value="#{modelImoveis.imovelSelecionado.uf}"
							required="true" readonly="false">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter" />
						</h:inputText>
					</h:panelGroup>

					<f:facet name="footer">

						<p:commandButton value="#{msg['voltar']}" immediate="true"
							action="#{imoveisController.fechaDetalhe()}"
							title="#{msg['voltar_title']}">
						</p:commandButton>

					</f:facet>


				</p:panelGrid>

			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />

</ui:composition>