<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	
	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
			<f:facet name="header">
				#{msg['imoveis_menu_selecionar']}
			</f:facet>
		
			<h:form id="formconsulta">	
				<p:growl autoUpdate="true" globalOnly="true" />	
				<p:panelGrid columns="2"  cellpadding="4" style="margin:0 auto;">
				
					<h:outputText value="#{msg['imoveis_cep']} :" />
					<h:panelGroup>
						<h:message for="itcep" styleClass="error"/>
						<h:inputText maxlength="12" size="21"
							id="itcep" 
							value="#{modelImoveis.cep}">
							</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_tipo']} :" />
					<h:panelGroup>
						<h:message for="itTpImovel" styleClass="error"/>
							<h:selectOneMenu id="itTpImovel" required="true"
								value="#{modelImoveis.tpImovel}"
								style="width: 160px; height: 30px;">
							<f:selectItems value="#{modelImoveis.listatpImoveis}" var="_item" 
							itemValue="#{_item}" itemLabel="#{_item.tipo}"/>
					</h:selectOneMenu>
					</h:panelGroup>


					<h:outputText value="#{msg['imoveis_status']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error"/>
							<h:selectOneMenu id="itStatus" required="true"
								value="#{modelImoveis.statusImovel}"
								style="width: 160px; height: 30px;">
							<f:selectItems value="#{modelImoveis.listaStatusImoveis}" var="_item" 
							itemValue="#{_item}" itemLabel="#{_item.status}"/>
					</h:selectOneMenu>
					</h:panelGroup>
				
					<f:facet name="footer">
					
						<p:commandButton value="#{msg['imoveis_consultar']}"
							title="#{msg['imoveis_title_consultar']}"
							update=":formResultado">
						</p:commandButton>
					
					</f:facet>	
					
				</p:panelGrid>
			</h:form>	
				
			
			
			<h:form id="formResultado" >
				<p:growl autoUpdate="true" globalOnly="true" />	
				<p:dataTable id="dataTable" var="imoveis"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelImoveis.lazyModel}"
					paginator="true" rows="#{modelImoveis.qtdRows}"
					first="#{modelImoveis.pageSelecionada}"
					selection="#{modelImoveis.imovelSelecionado}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}"
					lazy="true" rowsPerPageTemplate="5,10,15,50,100">
	
					<f:facet name="header">
						#{msg['imoveis_titulo_lista']}
	                </f:facet>
	                
	                <p:column selectionMode="single"  style="width:18px" />
					
					<p:column sortBy="#{imoveis.id}" width="35%">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_id']}" />
						</f:facet>
						<h:outputText value="#{imoveis.id}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.tpImovel}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_tipo']}" />
						</f:facet>
						<h:outputText value="#{imoveis.tpImovel}" />
					</p:column>
	
					<p:column sortBy="#{imoveis.statusImovel}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_status']}" />
						</f:facet>
						<h:outputText value="#{imoveis.statusImovel}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.cep}">
						<f:facet name="header">
							<h:outputMask value="#{msg['imoveis_cep']}"/>
						</f:facet>
						<h:outputText value="#{imoveis.cep}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.dsImovel}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_descricao']}" />
						</f:facet>
						<h:outputText value="#{imoveis.dsImovel}" />
					</p:column>
					
					<f:facet name="footer">
						<p:commandButton value="#{msg['imoveis_selecionar']}"
							action="#{imoveisController.selecionar()}"
							title="#{msg['imoveis_selecionar']}">
							<f:ajax execute=":formResultado" render="dataTable"/>
						</p:commandButton>
	                </f:facet>
					
				</p:dataTable>
			</h:form>
		
		</p:panelGrid>
	
	</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>
	
</ui:composition>