<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['imoveis_menu']}
		</f:facet>

			<h:form id="formconsulta">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid columns="2" cellpadding="4" style="margin:0 auto;">

					<h:outputText value="#{msg['imoveis_cep']} :" />
					<h:panelGroup>
						<h:message for="itcep" styleClass="error"/>
						<h:inputText maxlength="12" size="21"
							id="itcep" 
							value="#{modelImoveis.cep}">
							</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['imoveis_tipo']} :" />
					<h:panelGroup>
						<h:message for="itTpImovel" styleClass="error"/>
							<h:selectOneMenu id="itTpImovel" required="true"
								value="#{modelImoveis.tpImovel}"
								style="width: 160px; height: 30px;">
							<f:selectItems value="#{modelImoveis.listatpImoveis}" var="_item" 
							itemValue="#{_item}" itemLabel="#{_item.tipo}"/>
					</h:selectOneMenu>
					</h:panelGroup>


					<h:outputText value="#{msg['imoveis_status']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error"/>
							<h:selectOneMenu id="itStatus" required="true"
								value="#{modelImoveis.statusImovel}"
								style="width: 160px; height: 30px;">
							<f:selectItems value="#{modelImoveis.listaStatusImoveis}" var="_item" 
							itemValue="#{_item}" itemLabel="#{_item.status}"/>
					</h:selectOneMenu>
					</h:panelGroup>
					
					<f:facet name="footer">

						<p:commandButton value="#{msg['imoveis_novo']}"
							rendered="#{request.isUserInRole('manter_imoveis_incluir')}"
							action="#{imoveisController.novoImovel()}"
							update="formconsulta"
							title="#{msg['imoveis_novo_title']}">
						</p:commandButton>

						<p:commandButton value="#{msg['imoveis_consultar']}"
							title="#{msg['imoveis_consultar']}" update=":formResultado">
						</p:commandButton>

						<p:commandButton value="#{msg['imoveis_limpar']}"
							title="#{msg['imoveis_limpar']}"
							actionListener="#{imoveisController.limpaConsulta}" 
							update="formconsulta"/>

					</f:facet>

				</p:panelGrid>
			</h:form>

			<h:form id="formResultado" >
				<p:growl autoUpdate="true" globalOnly="true" />	
				<p:dataTable id="dataTable" var="imoveis"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelImoveis.lazyModel}"
					paginator="true" rows="#{modelImoveis.qtdRows}"
					first="#{modelImoveis.pageSelecionada}"
					selection="#{modelImoveis.imoveis}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}"
					lazy="true" rowsPerPageTemplate="5,10,15,50,100">
	
					<f:facet name="header">
						#{msg['imoveis_titulo_lista']}
	                </f:facet>
	                
	                <p:column selectionMode="multiple"  style="width:18px" />
					
					<p:column sortBy="#{imoveis.id}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_id']}" />
						</f:facet>
						<h:outputText value="#{imoveis.id}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.tpImovel}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_tipo']}" />
						</f:facet>
						<h:outputText value="#{imoveis.tpImovel}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.cep}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_cep']}" mask="99.999-999"/>
						</f:facet>
						<h:outputText value="#{imoveis.cep}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.dsImovel}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_descricao']}" />
						</f:facet>
						<h:outputText value="#{imoveis.dsImovel}" />
					</p:column>
					
					<p:column sortBy="#{imoveis.statusImovel.status}">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_status']}" />
						</f:facet>
						<h:outputText value="#{imoveis.statusImovel.status}" />
					</p:column>

					<p:column width="50ps">
						<f:facet name="header">
							<h:outputText value="#{msg['imoveis_acao']}" />
						</f:facet>
						<h:panelGroup>

							<p:commandButton icon="ui-icon-pencil"
								rendered="#{request.isUserInRole('manter_imoveis_alterar')}"
								action="#{imoveisController.abrirAlterar(imoveis)}"
								update=":formResultado" title="#{msg['imoveis_acao_alterar']}">
							</p:commandButton>

							<p:commandButton action="#{imoveisController.abrirDetalhar(imoveis)}"
								rendered="#{request.isUserInRole('manter_imoveis_detalhar')}"
								icon="ui-icon-document" update="dataTable"
								title="#{msg['imoveis_acao_detalhar']}">
							</p:commandButton>

							<p:commandButton
								action="#{imoveisController.delete(imoveis)}"
								onclick="if(!confirm('Confima a exclusão do imovel de Id #{imoveis.id}?'))returfalse;"
								rendered="#{request.isUserInRole('manter_imoveis_excluir')}"
								icon="ui-icon-trash" update="dataTable"
								title="#{msg['imoveis_acao_deletar']}">
							</p:commandButton>

						</h:panelGroup>
					</p:column>

				</p:dataTable>
				<p:panelGrid columns="2" style="width: 100%">
					<f:facet name="footer">
						<p:growl />
						<p:commandButton value="#{msg['contratos_acao_gerar_relatorio']}"
							rendered="#{request.isUserInRole('manter_imoveis')}"
							title="#{msg['contratos_acao_gerar_relatorio']}"
							action="#{imoveisController.gerarRelatorioSelecionados()}"
							icon="ui-icon-print">
						</p:commandButton>
						<p:commandButton value="#{msg['contratos_acao_gerar_relatorio_todos']}"
							rendered="#{request.isUserInRole('manter_imoveis')}"
							title="#{msg['contratos_acao_gerar_relatorio_todos']}"
							action="#{contratosController.gerarRelatorioTodos()}"
							icon="ui-icon-print">
						</p:commandButton>

					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>