 body {
   margin: 0;
   padding: 0;
   background-color: #EAECEE;
   font: 1.0em "Trebuchet MS", sans-serif;
   margin: 50px;
}

code {
   font-size: 1.0em;
}

span.invalid {
   padding-left: 3px;
   color: red;
}

span.error {
	border: 1px solid;
	margin: 10px 2px;
	padding: 5px 80px 5px 80px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	display: block;
}

input[type="text"] {
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 1.0em;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 1px ;
    background-repeat: repeat-x;
    background-position: top;
}

input[type="password"] {
    font-family: "Trebuchet MS", Sans-Serif;
    font-size: 1.0em;
    margin-bottom: 5px;
    display: block;
    padding: 5px;
    border: solid 1px ;
    background-repeat: repeat-x;
    background-position: top;
}


#container {
   margin: 0 auto;
   padding: 0 20px 10px 20px;
   border: 1px solid #666666;
   width: auto; /* subtract 40px from banner width for padding */
   height: 98%;
   overflow: scroll;
}

#sidebar {
   font-size: 0.9em;
   width: 225px;
   float: right;
   border: 1px solid #666666;
   background: #EAECEE;
   padding: 0 15px 5px 15px;
}

#sidebar ul {
   padding-left: 30px;
}

#footer {
   clear: both;
   text-align: center;
   color: #666666;
   font-size: 0.85em;
}


.loginPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 15%;
}

.ui-selectmanymenu{
    width: 100% !important; 
    overflow: hidden !important;
}
