<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<p:menuitem value="#{msg['pessoa_menu']}"
		rendered="#{request.isUserInRole('manter_pessoa') }"
		action="#{menu.menuManterPessoa()}" ajax="false"
		icon="ui-icon-person">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="#{msg['usuario_menu']}"
		rendered="#{request.isUserInRole('Nao_exibir') }"
		action="#{menu.menuManterUsuario()}" ajax="false"
		icon="ui-icon-person">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="#{msg['imoveis_menu']}"
		rendered="#{request.isUserInRole('manter_imoveis') }"
		action="#{menu.menuManterImoveis()}" ajax="false"
		icon="ui-icon-home">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="#{msg['contratos_menu']}"
		rendered="#{request.isUserInRole('manter_contratos') }"
		action="#{menu.menuManterContratos()}" ajax="false"
		icon="ui-icon-suitcase">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="#{msg['financeiro_menu']}"
		rendered="#{request.isUserInRole('financeiro') }"
		action="#{menu.menuFinanceiro()}" ajax="false"
		icon="ui-icon-calculator">
		<f:param name="nocid" value="true" />
	</p:menuitem>

	<p:menuitem value="#{msg['perfil_menu']}"
		rendered="#{request.isUserInRole('manter_perfil_acesso') }"
		action="#{menu.menuManterPerfil()}"
		ajax="false" icon="ui-icon-unlocked">
		<f:param name="nocid" value="true" />
	</p:menuitem>

	<p:menuitem value="#{msg['usuario_menu_alterar_senha']}"
		rendered="#{request.isUserInRole('user') }"
		action="#{menu.menuAlterarSenha()}"
		ajax="false" icon="ui-icon-pencil">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="#{msg['configuracao_menu']}"
		rendered="#{request.isUserInRole('user_nao_mostar') }"
		action="#{menu.menuConfiguracao()}"
		ajax="false" icon="ui-icon-wrench">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	
	<p:menuitem value="Home"
		rendered="#{request.isUserInRole('user') }"
		action="pretty:home"
		ajax="false" icon="ui-icon-home">
		<f:param name="nocid" value="true" />
	</p:menuitem>
	


</ui:composition>