<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:auto;width:100%;">

		<f:facet name="header">
			#{msg['visualizador_page']}
		</f:facet>

			<h:form id="formDoc" style="margin:2%">

				<h:panelGrid columns="1">
				
					<h:panelGroup>
						<h:outputText id="nomeDoc" value="#{visualizadorController.nomeDoc}"/>
					</h:panelGroup>
					
					<h:panelGroup>
						<pe:documentViewer id="docPdf" style="width:100%; height:100%;" value="#{visualizadorController.pdf}"/>
					</h:panelGroup>
					
				</h:panelGrid>

			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>