<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="#{configController.localeSelecionado}">

	<h:head>
		<title>#{msg['sistema_sigla']} - #{msg['sistema_versao']}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<h:outputStylesheet name="css/default.css" />
	</h:head>
	<h:body >
		<p:layout id="principal" fullPage="true" stateful="true">
	
				<p:layoutUnit id="topcabecalho" position="north" size="120"
					header="#{msg['nome_sistema']}" 
					resizable="false" closable="false" collapsible="true" effect="drop">
					<h:form id="formmenu">
						 <h:panelGrid columns="1"> 
							 <h:panelGrid columns="4"> 
						         <h:outputText value="Language :"/>  
						         <h:selectOneMenu value="#{configController.locale}" onchange="submit()"
						            valueChangeListener="#{configController.localeChanged}">
						            <f:selectItems value="#{configController.countries}" /> 
						         </h:selectOneMenu> 
						         
						         <h:outputText value="Themas :"/> 
						         <h:selectOneMenu value="#{configController.theme}" onchange="submit()"
						            valueChangeListener="#{configController.themeChanged}">
						            <f:selectItems value="#{configController.themes}"  /> 
						         </h:selectOneMenu> 
					      </h:panelGrid>
					      
					      <!-- p:messages id="msggeral" globalOnly="true" />
					      <p:growl sticky="false" autoUpdate="true"/-->
					       
					     </h:panelGrid>
				      
					     <!--p:poll interval="150" update="msggeral" /-->
					</h:form>
				</p:layoutUnit>
	
	
			<p:layoutUnit position="west" size="250" header="#{msg['nome_header_lateral_esquerda']}" 
				resizable="true" closable="false" collapsible="true">
				<h:form id="formdomenu">
					<p:menu style="width:95%">
	
						<ui:insert name="leftMenu">
							<ui:include src="/WEB-INF/page/comum/menu.xhtml" /> 
						</ui:insert>
						
	
						<p:menuitem value="#{msg['login_panel']}"
							rendered="#{request.getUserPrincipal() == null}"
							action="/Login.xhtml?faces-redirect=true" icon="ui-icon-power" />
						
						<p:menuitem value="#{msg['login_sair']}" action="#{loginController.logout}"
							rendered="#{request.getUserPrincipal() != null}"
							icon="ui-icon-power" />
					</p:menu>
					
				</h:form>
			</p:layoutUnit>
			
			
			<ui:insert name="direitaSemLayout">
				<p:layoutUnit position="east" size="265" header="#{msg['nome_header_lateral_direita']}" 
					resizable="false" closable="true" collapsible="true" effect="drop">
					<ui:insert name="sidebar">
						<h:outputText value="Right unit content." />
					</ui:insert>
				</p:layoutUnit>
			</ui:insert>
			
			<p:layoutUnit position="center">
				
				<ui:insert name="content">
					<p:layout id="conteudoCentral">
						
						<p:layoutUnit position="north" size="50" rendered="#{navegacao.rendered}"
							resizable="false" closable="false" collapsible="false" effect="drop">
								<p:breadCrumb model="#{navegacao.breadcrumbmodel}" 
								binding="#{navegacao.breadCrumb}"
								rendered="#{navegacao.rendered}"/>
						</p:layoutUnit>
						
						<p:layoutUnit position="center">
							<ui:insert name="centroMeio">
								centro meio
							</ui:insert>
						</p:layoutUnit>
						
						
						<ui:insert name="centroRodapeSemLayout">
							<p:layoutUnit position="south" size="50"
								resizable="true" closable="false" collapsible="true">
								<ui:insert name="centroRodape">
									centro rodape
								</ui:insert>
							</p:layoutUnit>
						</ui:insert>
						
					</p:layout>
				</ui:insert>
				
			</p:layoutUnit>
		</p:layout>
	</h:body>
</f:view>
</html>