<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<h:outputText value="#{msg['acesso_nao_permitido']}" styleClass="header"></h:outputText>
		<h:outputText value="#{msg['acesso_nao_permitido_page']}"></h:outputText>
		<h:messages></h:messages>
	</ui:define>
	<p:log />
</ui:composition>