<ui:composition template="/templates/layout.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
     <ui:define name="content">
        <h:outputText value="Erro inesperado no sistema" styleClass="header"></h:outputText>
		<h:outputText value="Erro inesperado no sistema, tente outra vez."></h:outputText>
		<h:messages></h:messages>
	     <p:log />
     </ui:define>
     
     <ui:debug hotkey="x" />
</ui:composition>