<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/templates/layout.xhtml"
   xmlns:p="http://primefaces.org/ui">
   
  
   <ui:define name="content">
   <div align="center">
      <h1><h:outputText value="#{msg['msg_home']}" /></h1>
    </div> 
      <!--h:form id="bv">
         <h2>#{loginController.username}</h2>
      </h:form-->

   </ui:define>
</ui:composition>
