<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		
		<h:form id="formlogin" styleClass="loginPanelStyle">
			<p:growl id="msgs"  autoUpdate="true" globalOnly="true" sticky="false" />
			
			<p:panelGrid columns="2">
				<f:facet name="header">
                    #{msg['login_panel']}
                </f:facet>
                
				<h:outputText value="#{msg['login_username']} : "></h:outputText>
				<h:inputText id="username" 
					label="#{msg['login_username']}"
					value="#{loginController.username}"
					onchange= "loginController.validaUsername();"
					required="false">
				</h:inputText>
				
				<h:outputText value="#{msg['login_password']} : "></h:outputText>
				<h:inputSecret id="password" 
					label="#{msg['login_password']}"
					value="#{loginController.password}"
					required="false">
					<f:converter converterId="br.com.vle.util.SHAConverter"/>
				</h:inputSecret>
				
				<h:outputText for="remember" value="#{msg['login_remember']}"/>
				<h:selectBooleanCheckbox id="remember" 
				
				value="#{loginController.remember}">
				</h:selectBooleanCheckbox>
				
				
				
				<f:facet name="footer">
					<p:commandButton value="#{msg['login_acao']}" update="formlogin"
						action="#{loginController.login}"
						icon="ui-icon-check" style="margin:0">
					</p:commandButton>
					
					<p:commandButton value="#{msg['esqueci_senha']}" update="formlogin"
						action="#{loginController.redirect}"
						icon="ui-icon-key" style="margin:0">
					</p:commandButton>
					
				</f:facet>
				
			</p:panelGrid>
			
		</h:form>
	</ui:define>
	
	<ui:define name="direitaSemLayout"/>
</ui:composition>
