<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		
		<h:form id="formreset" styleClass="loginPanelStyle">
			<p:growl id="msgs"  autoUpdate="true" globalOnly="true" sticky="false" />
			
			<p:panelGrid columns="2">
				<f:facet name="header">
                    #{msg['reset_senha']}
                </f:facet>
                
				<h:outputText value="#{msg['login_username']} : "></h:outputText>
				<h:inputText id="username" 
					label="#{msg['login_username']}"
					value="#{loginController.username}"
					readonly= "true"
					required="true">
				</h:inputText>
				
				<h:outputText value="#{msg['reset_email']} : "></h:outputText>
				<h:inputText id="email" 
					label="#{msg['reset_email']}"
					value="#{loginController.email}"
					readonly= "false"
					required="true">
				</h:inputText>
				
				<h:outputText value="#{msg['reset_dtNasc']} : "></h:outputText>
				<h:inputText id="dtNasc" 
					label="#{msg['reset_dtNasc']}"
					value="#{loginController.dtNasc}"
					readonly= "false"
					required="true">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:inputText>				
				
				<f:facet name="footer">
					<p:commandButton value="#{msg['reset_acao']}" update="formreset"
						action="#{loginController.resetSenha()}" type="submit"
						icon="ui-icon-check" style="margin:0">
					</p:commandButton>
					
					<p:commandButton value="#{msg['cancelar_acao']}" update="formreset"
						action="#{loginController.voltar()}" style="margin:0">
					</p:commandButton>
					
				</f:facet>
				
			</p:panelGrid>
			
		</h:form>
	</ui:define>
	
	<ui:define name="direitaSemLayout"/>
</ui:composition>
