<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:define name="centroMeio">
	<p:panelGrid columns="1" style="margin:0 auto;width:100%;">
			
		<f:facet name="header">
			#{msg['contratos_menu_incluir']}
		</f:facet>
		
		<h:form id="detailForm">
			<p:growl  autoUpdate="true" globalOnly="true" sticky="false"/>	
			<p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">

				<h:outputText value="#{msg['pessoa_cpf_cnpj']}:" />
				<h:panelGroup>
						<h:message for="itCpf_cnpj" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itCpf_cnpj"
							label="#{msg['pessoa_cpf_cnpj']}"
							value="#{modelContratos.idPessoa}"
							readonly="false">
						</h:inputText>
						<p:commandButton  icon="ui-icon-person"
							action="#{incluirContratosController.selecionarPessoa()}"
							update="detailForm"
							title="#{msg['contratos_acao_selecionar_pessoa']}">
						</p:commandButton>	
				</h:panelGroup>
				
				<h:outputText value="#{msg['pessoa_nome']} :" />
				<h:panelGroup>
						<h:message for="itNome" styleClass="error"/>
						<h:inputText maxlength="60" size="51"
							id="itNome"
							label="#{msg['pessoa_nome']}"
							value="#{modelContratos.nomePessoa}"
							required="false"
							readonly="true">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>
				

				<h:outputText value="#{msg['imoveis_id']} :" />
				<h:panelGroup>
						<h:message for="itidim" styleClass="error"/>
						<h:inputText maxlength="20" size="21" rendered="true"
							id="itidim"
							label="#{msg['imoveis_id']}"
							value="#{modelContratos.idImovel}">
						</h:inputText>
						<p:commandButton  icon="ui-icon-home"
							action="#{incluirContratosController.selecionarImovel()}"
							title="#{msg['contratos_acao_selecionar_imovel']}">
						</p:commandButton>
				</h:panelGroup>

				<h:outputText value="#{msg['imoveis_descricao']} :" />
				<h:panelGroup>
						<h:message for="itimdesc" styleClass="error"/>
						<h:inputText maxlength="60" size="51" required="false"
							id="itimdesc"
							label="#{msg['imoveis_descricao']}"
							value="#{modelContratos.dsImovel}">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['contratos_dia_venc']} :" />
				<h:panelGroup>
						<h:message for="itdiavec" styleClass="error"/>
						<h:inputText 
							id="itdiavec"
							maxlength="20" size="21"
							label="#{msg['contratos_dia_venc']}"
							value="#{modelContratos.contrato.diaVencimento}">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['contratos_validade']} :" />
					<h:panelGroup>
						<h:message for="itval" styleClass="error"/>
							<h:selectOneMenu id="itval" required="true"
								value="#{modelContratos.validade}"
								style="width: 167px; height: 30px;">
							<f:selectItems value="#{modelContratos.periodos}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
							<f:ajax event="change" update="detailForm"/>
						</h:selectOneMenu>
				</h:panelGroup>
				
				<h:outputText value="#{msg['Contratos_valor_men']} :" />
				<h:panelGroup>
						<h:message for="itvm" styleClass="error"/>
						<h:inputText 
							id="itvm"
							maxlength="8" size="21"
							label="#{msg['Contratos_valor_men']}"
							value="#{modelContratos.contrato.valorMensalidade}"
							required="false"
							type="big_decimal">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['contratos_tx_multa_atraso']} :" />
				<h:panelGroup>
						<h:message for="ittxm" styleClass="error"/>
						<h:inputText id="ittxm" maxlength="20" size="21"
							label="#{msg['contratos_tx_multa_atraso']}"
							value="#{modelContratos.contrato.txMultaAtraso}"
							required="false"
							readonly="false">
						</h:inputText>
				</h:panelGroup>
				
				<h:outputText value="#{msg['contratos_responsavel_despesas']} :" />
				<h:panelGroup>
						<h:message for="itresp" styleClass="error"/>
							<h:selectOneMenu id="itresp" required="true"
								value="#{modelContratos.responsavel}"
								style="width: 167px; height: 30px;">
							<f:selectItems value="#{modelContratos.listResponsaveis}" var="item" itemValue="#{item}"/>
							</h:selectOneMenu>
				</h:panelGroup>
				
				<f:facet name="footer">
				
					<p:commandButton value="#{msg['contratos_acao_salvar']}"
						action="#{incluirContratosController.salvar()}"
						update="detailForm"
						title="#{msg['contratos_acao_salvar_title']}">
					</p:commandButton>
		
					<p:commandButton value="#{msg['voltar']}" immediate="true"
						action="#{incluirContratosController.voltar()}" title="#{msg['voltar_title']}">
					</p:commandButton>
					
				</f:facet>


			</p:panelGrid>

		</h:form>
	</p:panelGrid>	
</ui:define>

	<ui:define name="centroRodapeSemLayout"/>
	<ui:define name="direitaSemLayout"/>
	
</ui:composition>