<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition template="/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="centroMeio">
		<p:panelGrid columns="1" style="margin:0 auto;width:100%;">

			<f:facet name="header">
			#{msg['contratos_menu']}
		</f:facet>

			<h:form id="formconsulta">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:panelGrid columns="2" cellpadding="4" style="margin:0 auto;">

				<h:outputText value="#{msg['contratos_id']} :" />
				<h:panelGroup>
						<h:message for="itId" styleClass="error"/>
						<h:inputText maxlength="60" size="51"
							id="itId"
							label="#{msg['contratos_id']}"
							value="#{modelContratos.idContrato}">
							<f:converter converterId="br.com.vle.util.CaixaAltaConverter"/>
						</h:inputText>
				</h:panelGroup>

					<h:outputText value="#{msg['contratos_id_pessoa']} :" />
					<h:panelGroup>
						<h:message for="itcpfCnpj" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itcpfCnpj" 
							value="#{modelContratos.idPessoa}">
							</h:inputText>
					</h:panelGroup>
					
					<h:outputText value="#{msg['contratos_id_imovel']} :" />
					<h:panelGroup>
						<h:message for="itimovel" styleClass="error"/>
						<h:inputText maxlength="14" size="21"
							id="itimovel" 
							value="#{modelContratos.idImovel}">
							</h:inputText>
					</h:panelGroup>

					<h:outputText value="#{msg['contratos_ativo']} :" />
					<h:panelGroup>
						<h:message for="itStatus" styleClass="error"/>
							<h:selectOneMenu id="itStatus" required="false"
								value="#{modelContratos.contratoAtivo}"
								style="width: 167px; height: 30px;">
							<f:selectItems value="#{modelContratos.listStatus}" var="item" itemValue="#{item}"/>
					</h:selectOneMenu>
					</h:panelGroup>
					
					<h:outputText value="#{msg['contratos_tipo']} :" />
					<h:panelGroup>
						<h:message for="itTpCon" styleClass="error"/>
							<h:selectOneMenu id="itTpCon" required="false"
								value="#{modelContratos.tpContrato}"
								style="width: 167px; height: 30px;">
							<f:selectItems value="#{modelContratos.listTpContratos}" var="item" itemValue="#{item}"/>
					</h:selectOneMenu>
					</h:panelGroup>
					
					<f:facet name="footer">

						<p:commandButton value="#{msg['contratos_novo']}"
							rendered="#{request.isUserInRole('manter_contratos_incluir')}"
							action="#{contratosController.novoContrato()}"
							title="#{msg['contratos_novo']}">
						</p:commandButton>

						<p:commandButton value="#{msg['contratos_consultar']}"
							title="#{msg['contratos_consultar']}" update=":formResultado">
						</p:commandButton>

						<p:commandButton value="#{msg['contratos_limpar']}"
							title="#{msg['contratos_limpar']}"
							actionListener="#{contratosController.limpaConsulta()}" />

					</f:facet>

				</p:panelGrid>
			</h:form>

			<h:form id="formResultado">
				<p:growl autoUpdate="true" globalOnly="true" sticky="false" />
				<p:dataTable id="dataTable" var="contrato"
					emptyMessage="#{msg['sem_registro']}"
					value="#{modelContratos.lazyModel}" paginator="true"
					rows="#{modelContratos.qtdRows}"
					first="#{modelContratos.pageSelecionada}"
					selection="#{modelContratos.contratosSelecionados}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {RowsPerPageDropdown}"
					currentPageReportTemplate="#{msg['paginacao']}" lazy="true"
					rowsPerPageTemplate="5,10,15,50,100" rowIndexVar="x">

					<f:facet name="header">
                   #{msg['contratos_titulo_lista']}
					</f:facet>

					<p:column selectionMode="multiple" style="width:18px" />

					<p:column sortBy="#{contrato.id}">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_id']}" />
						</f:facet>
						<h:outputText value="#{contrato.id}"
							title="#{contrato.id}" />
					</p:column>
					
					<p:column sortBy="#{contrato.imovel.id}">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_id_imovel']}" />
						</f:facet>
						<h:outputText value="#{contrato.imovel.id}"
							title="#{contrato.imovel.id}" />
					</p:column>

					<p:column sortBy="#{contrato.pessoa.nome}">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_nome_pessoa']}" />
						</f:facet>
						<h:outputText value="#{contrato.pessoa.nome}"/>
					</p:column>

					<p:column sortBy="#{contrato.tpcontrato}">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_tipo']}" />
						</f:facet>
						<h:outputText value="#{contrato.tpcontrato}" />
					</p:column>
					
					<p:column sortBy="#{contrato.contratoStatus}">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_ativo']}" />
						</f:facet>
						<h:outputText value="#{contrato.contratoStatus}">
						</h:outputText>
					</p:column>

					<p:column width="50ps">
						<f:facet name="header">
							<h:outputText value="#{msg['contratos_acao']}" />
						</f:facet>
						<h:panelGroup>

							<p:commandButton icon="ui-icon-refresh"
								rendered="#{request.isUserInRole('manter_contratos_renovar')}"
								action="#{contratosController.abrirRenovar(contrato)}"
								update=":formResultado" title="#{msg['contratos_acao_renovar']}">
							</p:commandButton>
							
							<p:commandButton action="#{contratosController.abrirDetalhar(contrato)}"
								rendered="#{request.isUserInRole('manter_contratos_detalhar')}"
								icon="ui-icon-document" update="dataTable"
								title="#{msg['contratos_acao_detalhar']}">
							</p:commandButton>
							
							<p:commandButton action="#{contratosController.cancelarContrato(contrato)}"
								rendered="#{request.isUserInRole('manter_contratos_inativar')}"
								icon="ui-icon-close" update="dataTable"
								title="#{msg['contratos_acao_cancelar']}">
							</p:commandButton>

						</h:panelGroup>
					</p:column>

				</p:dataTable>
				<p:panelGrid columns="2" style="width: 100%">
					<f:facet name="footer">
						<p:growl />
						<p:commandButton value="#{msg['contratos_acao_gerar_relatorio']}"
							rendered="#{request.isUserInRole('manter_contratos_detalhar')}"
							title="#{msg['contratos_acao_gerar_relatorio']}"
							action="#{contratosController.gerarRelatorioSelecionados()}"
							icon="ui-icon-print">
							<f:ajax execute=":formResultado" render=":formResultado"
								listener="#{modelContratos.contratosSelecionados}" />
						</p:commandButton>
						<p:commandButton value="#{msg['contratos_acao_gerar_relatorio_todos']}"
							rendered="#{request.isUserInRole('manter_contratos')}"
							title="#{msg['contratos_acao_gerar_relatorio_todos']}"
							action="#{contratosController.gerarRelatorioTodos()}"
							icon="ui-icon-print">
							<f:ajax execute=":formResultado" render=":formResultado"
								listener="#{modelContratos.contratosSelecionados}" />
						</p:commandButton>

					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
	</ui:define>

	<ui:define name="centroRodapeSemLayout" />
	<ui:define name="direitaSemLayout" />
	<ui:debug hotkey="x" />

</ui:composition>